@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
    --base-color: #f2f2f2;
    --text-color: #000000;
    --primary-color: #7eadbf;
    --secondary-color: #8c6746;
    --color-1: #42708c;
    --color-2: #4c8bad;
    --color-3: #c0543c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", serif;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1 {
    margin-right: 25px;
}
h1,
h2,
h3 {
    font-family: "Poppins", serif;
}
.h-fontCV {
    font-size: 2em;
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    font-family: "Poppins", serif;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-left: 30px;
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}

nav a:hover {
    transform: scale(1.1);
    text-decoration: underline;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

header,
section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(1em, 15%);
    border-radius: 1em;
    display: flex;
}

section {

    width: min(75em, 95%);
    background-color: var(--color-2);
    padding: 2em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.card {
    background-color: var(--color-2);
    border-radius: 1rem;
    text-align: center;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.aboutFlex-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.aboutText-container {
    max-width: 600px;
    text-align: center;
}

.text-container{
    margin-left: 2rem
}
.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--color-1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2s);
    padding: 0.75em 1.25em;
    border-radius: 0.5em;
    font-weight: 600;
    margin: 1em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

img {
    max-width: 100%;
    border-radius: 1em;
    padding: 0.5em;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    object-fit: cover;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.hobby-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 20px;
}

.hobby-item {
    width: calc(50% - 30px);
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.hobby-item img {
    width: 100%;
    height: auto;
    border-radius: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    -webkit-border-radius: 1;
    -moz-border-radius: 1;
    -ms-border-radius: 1;
    -o-border-radius: 1;
}

.hobby-item figcaption {
    margin-top: 12px;
    font-weight: 600;
    color: var(--color-1);
    text-align: left;
    border-bottom: 3px solid var(--primary-color); 
    display: inline; 
    padding-bottom: 4px; 
}

.model-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.model-container:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.model {
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 30px 50px;
    text-align: center;
    width: 600px;
    max-width: 90%;

    position: relative;
}

.close {
    background-color: var(--color-3);
    margin-top: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
}
.competens-list,
li {
    list-style-type: none;
}

.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background-color: var(--color-3);
    border-radius: 1rem;
    text-align: center;
    padding: 2em;
    margin: 1rem;

    width: 300px;
    max-width: 100%;
}

.contact-card {
    width: 1100%;
    max-width: 600px;
    background-color: var(--color-2);
    margin: 1rem auto;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-buttons .cta-button {
    margin: 10px;
}

footer {
    margin-top: 50px;
    padding: 30px 0;

    border-top: 1px solid var(--color-1);

    text-align: center;
    font-size: 0.9rem;
    color: var(--text-color);
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links a {
    text-decoration: none;
    color: var(--color-1);
    font-weight: 600;
    margin-left: 10px;
}
.separator {
    margin: 0 10px;
    color: var(--color-1);
}

.footer-links a:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
    header {
        justify-content: center;
        gap: 1rem;
    }

    nav {
        width: 100%;
    }

    nav ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    nav li {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    h1 {
        margin-right: 0;
        text-align: center;
    }
    img {
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .flex-container {
        justify-content: center;
    }
    .contact-buttons {
        flex-direction: column;
    }

    .contact-buttons .cta-button {
        width: 100%;
        margin: 5px 0;
    }
    .separator {
        display: none;
    }
    .hobby-item {
        width: calc(100% - 30px);
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        margin-top: 10px;
    }

    .footer-links a {
        margin: 0 10px;
    }
}
